In [1]:
import numpy as np
import pandas as pd

In [26]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [27]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [28]:
myindex = ['MH','UP','ND','RJ']

In [29]:
mycolumns = ['jan','feb','mar']

In [32]:
df = pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)

In [33]:
df

    jan  feb  mar
MH   95   11   81
UP   70   63   87
ND   75    9   77
RJ   40    4   63

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, MH to RJ
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   jan     4 non-null      int32
 1   feb     4 non-null      int32
 2   mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [36]:
# Where is my file located

In [37]:
pwd

'C:\\Users\\yusuf\\Desktop\\ml_jose\\pandas'