In [2]:
import pandas as pd
import numpy as np

In [3]:
email = 'jose@email.com'

In [8]:
email.split('@')

['jose', 'email.com']

In [10]:
name = pd.Series(['andrew','bobo','david','5'])

In [11]:
name

0    andrew
1      bobo
2     david
3         5
dtype: object

In [15]:
name.str.upper()

0    ANDREW
1      BOBO
2     DAVID
3         5
dtype: object

In [16]:
name.str.isdigit()

0    False
1    False
2    False
3     True
dtype: bool

In [17]:
tech_finance = ['GOOGLE,APPLE,AMAZON','JPM,BAC,GS']

len(tech_finance)