In [5]:
import numpy as np

In [6]:
import pandas as pd

In [7]:
# help(pd.Series)
# gives documentation of pandas

In [8]:
myindex = ['USA','MEXICO','BRAZIL']

In [9]:
mydata = [1768,1832,1998]

In [13]:
myseries = pd.Series(data=mydata,index=myindex)

In [14]:
myseries

USA       1768
MEXICO    1832
BRAZIL    1998
dtype: int64

In [15]:
myseries[0]

1768

In [17]:
myseries['BRAZIL']

1998

In [19]:
# Converting dict into panda series
dict = {'bilal':22,'chimak':19,'saad':23}

In [24]:
pd.Series(dict)

bilal     22
chimak    19
saad      23
dtype: int64

In [25]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [26]:
sales_q1 = pd.Series(q1)

In [27]:
sales_q2 = pd.Series(q2)

In [28]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [29]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [30]:
np.array([1,2]) *2

array([2, 4])

In [31]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [32]:
# To assign non co-existing terms in series use this

In [33]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64